.title {
    width: 100%;
    text-align: center;
    background-image: url(https://images5.alphacoders.com/637/thumb-1920-637668.jpg);
    background-size: 1700px 550px;
    background-repeat: no-repeat;
    padding:20%;
  }

