.App {
  text-align: center;

}

.gamescore{
  position: fixed;
}

h3{
  color: whitesmoke;
}

.navbar-brand{
  color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
  
}
.navbar{
  background-color: black;
  padding: 40px;
  opacity: 0.7;
  margin-left: 338px;
  margin-right: 300px;
}
.subText{
  font-size: 14px;
  color: whitesmoke;

}

