.App {
  text-align: center;
  font-family: sans-serif;
  margin-top: 5px;
  background-image: url('https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/31/1501489674-jon-snow-danaerys.jpg?resize=480:*');
  /* background-color:grey; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.gamescore{
  position: fixed;
}

h3{
  color: whitesmoke;
}

.navbar-brand{
  color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
  
}
.navbar{
  background-color: black;
  padding: 40px;
  opacity: 0.7;
  margin-left: 338px;
  margin-right: 300px;
}
.subText{
  font-size: 14px;
  color: whitesmoke;

}

