.App {
  text-align: center;
}

header {
  padding: 12%;
  color: black;

}
.gamescore{
  position: fixed;
}

.App-title {
  font-size: 2em;
  
}

.App-intro {
  font-size: large;
}

.navbar-brand{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 10px;
  font-weight: bold;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
