body {
  font-family: sans-serif;
  margin-top: 5px;
  background-image: url('https://github.com/csierra325/clickyGame/blob/master/public/images/got.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

